#Procesar{

    width: 150px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 28px;
    }
#a{
    border:1.5px solid black;
    width: 60px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
#b{
    border:1.5px solid black;
     width: 60px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
#c{
    border:1.5px solid black;
     width: 60px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
#d{
    border:1.5px solid black;
     width: 60px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
#e{
    border:1.5px solid black;
    width: 60px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
#f{
    border:1.5px solid black;
    width: 60px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
#g{
    border:1.5px solid black;
    width: 60px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
#h{
    border:1.5px solid black;
    width: 60px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
#I{
    border:1.5px solid black;
    width: 60px;
    height:60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}
p{
    display: inline-block;
}
